.piano {
  position: absolute;
  background: #212734;
  color: #fff;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0; }
  .piano header {
    visibility: hidden; }
  .piano .piano_container ul {
    cursor: pointer;
    list-style-type: none;
    position: relative;
    height: 50vh;
    width: 100vw;
    padding: 0; }
    .piano .piano_container ul li {
      position: relative;
      float: left;
      margin: 0;
      padding: 0;
      border-radius: 0 0 7px 7px; }
      .piano .piano_container ul li:first-of-type {
        border-left: 2px solid #000;
        border-radius: 10px 0 7px 7px; }
      .piano .piano_container ul li:last-of-type {
        border-radius: 0 10px 7px 7px; }
    .piano .piano_container ul .black {
      margin: 0 0 0 -1vw;
      width: 2vw;
      height: 12vh;
      background: #000;
      z-index: 1000;
      border: 2px solid #000;
      border-left: 0; }
      .piano .piano_container ul .black:active {
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        box-shadow: inset 7px 10px 67px 8px rgba(204, 204, 204, 0.2); }
    .piano .piano_container ul .white {
      width: 2vw;
      height: 20vh;
      background: #fff;
      border: 2px solid #000;
      border-left: 0; }
      .piano .piano_container ul .white:active {
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        box-shadow: inset 7px 10px 67px 8px rgba(0, 0, 0, 0.2); }
    .piano .piano_container ul .black + .white {
      margin-left: -1vw; }
  .piano .piano_container button {
    visibility: hidden; }
